<ion-header>
  <ion-toolbar>
    <ion-title>Add a new class</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="classForm">
  <ion-list>
    <ion-list-header>
      <ion-label>Class Information</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="stacked">Class Name</ion-label>
      <ion-input type="text" formControlName="name" placeholder="Introduction To Web"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Class Code</ion-label>
      <ion-input type="text" formControlName="code" formControlName="code" placeholder="INT-W02"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Start Date</ion-label>
      <ion-datetime formControlName="startDate" display-format="DD/MM/YYYY" picker-format="DD MMMM YYYY" ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-button slot="start" (click)="close()">Cancel</ion-button>
      <ion-button slot="end" [disabled]="!classForm.valid" (click)="save()">Save</ion-button>
    </ion-item>
  </ion-list>
  </form>
</ion-content>
