page-home {
  .classes.classname{
    font-weight: 500;
  }
  .spinner.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
  }
  .spinner.inactive{
    display: none;
  }
}
