page-session-manager {
  .session.room{
    color: color( $colors, primary );
    text-transform: uppercase;
  }
  .session.day, .session.month{
    text-transform: capitalize;
  }
  .session.date, .session.month{
    font-weight: bold;
  }
  .session.start{
    color: color( $colors, dark );
  }
}
