<ion-header>
  <ion-toolbar >
    <ion-title slot="start">
      <ion-label >{{ editing ? 'Editing' : 'Detail of'}} {{currentClass.name }}</ion-label> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form [formGroup]="classForm">
    <ion-list>
      <ion-item color="(editing) ? 'primary' : 'secondary'">
        <ion-label position="stacked">Class Name</ion-label>
        <ion-input type="text" formControlName="id"></ion-input>
        <ion-input type="text" formControlName="name" [readonly]="!editing"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Class Code</ion-label>
        <ion-input type="text" formControlName="code" value="{{currentClass.code}}" [readonly]="!editing"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Start Date</ion-label>
        <ion-datetime formControlName="startDate" value="{{currentClass.startDate.toDate() | date: 'EEEE, dd/LLL/yyyy' }}" [readonly]="!editing" display-format="DD/MM/YYYY" picker-format="DD MMMM YYYY" ></ion-datetime>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">{{(editing) ? 'Cancel' : 'Close'}}</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleEdit()" *ngIf="!editing">Edit</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="save()" *ngIf="editing">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
