<ion-header>
  <ion-toolbar>
    <ion-title>{{name}} {{code}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Class Name</ion-label>
        <ion-input [readonly]="!editing" value="{{name}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Class Code</ion-label>
        <ion-input [readonly]="!editing" value="{{code}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Class Start Time</ion-label>
        <ion-datetime value="{{startDate.toDate() | date: 'EEEE, dd/LLL/yyyy' }}" display-format="DD/MM/YYYY" picker-format="DD MMMM YYYY"></ion-datetime>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
