<<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Classes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button round (click) = "addClassView()">
    <ion-icon name="add"></ion-icon>
    &nbsp;
    Add new class
  </button>
  <h4>Existing Classes</h4>
  <ion-list>
    <ion-item *ngFor="let class of classes">
      <div class="class-view" >
        <h4 class="classes classname">{{class.classname}} </h4>
        <h6 *ngIf = "class.classcode" class="classes classcode">{{class.classcode}}</h6>
      </div>
      <button ion-button clear color="dark" item-end (click)="viewSingle(class.classid)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button clear color="dark" item-end (click)="studentView({classid: class.classid, classname: class.classname, classcode: class.classcode })">
        <ion-icon name="people"></ion-icon>
      </button>
      <button ion-button clear color="dark" item-end >
        <ion-icon name="pulse"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
