<<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Classes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button outline color="dark" (click) = "addClassView()">
    <ion-icon name="add"></ion-icon>
     Add a new class
  </button>
  <h4>Existing Classes</h4>
  <ion-list>
    <ion-item *ngFor="let class of classes">
      <h4 (click)="viewSingle(class.id)">{{class.classname}} </h4>
      <h6 *ngIf = "class.classcode">{{class.classcode}}</h6>
    </ion-item>
  </ion-list>
</ion-content>
