page-classes {
  .classes{
    text-transform: capitalize;
  }
  .classes.classcode{
    text-transform: uppercase;
    color: color( $colors, primary );
  }
  .classes.classname{
    font-weight: 500;
  }
  .class-button{
    min-width:44px;
  }
}
