<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Classes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button (click)="addClass()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let class of classes | async" lines="full" detailIcon="true" (click)="classDetail(class)">
      <ion-label slot="start"> 
        <h3>{{class.name}}</h3>
        <ion-note>{{class.code}}</ion-note>
        <p>
          Starts {{class.startDate.toDate() | date: "EE, dd/LLL/yyyy"}}
        </p>
      </ion-label>
      <ion-toolbar slot="end">
        <ion-buttons>
          <ion-button>
            <ion-icon name="contacts"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="timer"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-item>
  </ion-list>
</ion-content>
